.btn-red {
  color: white;
  padding: 16px 24px;
  text-decoration: none;
}

.btn-red:hover {
  opacity: 1;
  border-radius: 4px;
  background: red

}

.card-product .btn-red{
  position: absolute;
  bottom: 30px;
  right: 30px;
}
